@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth
}

body {
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-weight: 500;
    margin-right: 5px;
}


.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin-right: 20px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #808080;
    padding: 5px;
    border-radius: 5px;
}

.menu__link:active {
    box-shadow: 2px 2px 5px #3b6587;
}

.theme-toggle__button {
    position: fixed;
    top: 18px;
    right: 40px;
    padding: 5px 10px;
    background-color: #333;
    cursor: pointer;
    color: white;
}

/* Theme */

.body__darkTheme {
    background-color: #000;
}

.intro_darkTheme {
    background-color: #333;
}

.intro_lightTheme {
    background-color: #101010;
}

.card__darkTheme {
    background-color: #333;
    color: #fff;
}

.card__lightTheme {
    background-color: #fff;
    color: #101010;
}

.category__title-darkTheme {
    color: #fff;
}

.product-card__buy-button-lightTheme {
    background-color: #101010;
    color: #fff;
}

.product-card__buy-button-darkTheme {
    background-color: coral;
}

/* intro */

.intro {
    width: 100%;
    height: 200px;
    padding: 70px 130px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.intro__text {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    
}

.intro__img {
    position: relative;
    bottom: 12.5px;
    margin-right: 23px;
}

/* category__list of iphone */

.category {
    margin-top: 44px;
}

.category__title {
    margin-bottom: 15px;
}

.card__title {
    margin-bottom: 5px;
}

.category__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.card {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.card__data {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.card__title {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.product-card__buy-button {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px 35px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 0;
    border-radius: 11px;
    cursor: pointer;
}

.product-card__buy-button:active {
    background-color: #808080;
    color: #fff;
}

/* category__list of headphones & laptop */

.headphones {
    margin-top: 20px;
}

.laptop {
    margin-top: 20px;
}

/* form */

.purchase-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101010;
    font-weight: 500;
}

.purchase-form__form {
    width: 35%;
    height: 50%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px 50px;
}

.purchase-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.purchase-form__label {
    font-weight: 700;
    font-size: 1.3em;
}

.purchase-form__input {
    margin-left: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    background-color: #101010;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.purchase-form__color-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.purchase-form__radio-list {
    display: flex;
    justify-content: space-between;
    gap: 5px 70px;
}

.purchase-form__comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.purchase-form__textarea {
    width: 100%;
    height: 22vh;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

.purchase-form__textarea::placeholder {
    font-size: 15px;
    font-style: italic;
}

.purchase-form__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.purchase-form__btn {
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #101010;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

/* scroll to top */

.scroll-toTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1000;
    display: none;
    text-decoration: none;
    color: #fff;
    background-color: #101010;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 30px;
    margin: 15px 25px;
    cursor: pointer;
    transition: all 0.2s;
}

/* footer */

.footer__category {
    margin-top: 35px;
    padding: 25px 10px; 
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);
    border-radius: 10px 10px 0px 0px;
}

.footer__category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer__link {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {

}
