@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth
}

body {
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100%);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-weight: 500;
    margin-right: 5px;
}


.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin-right: 20px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #808080;
    padding: 5px;
    border-radius: 5px;
}

.menu__link:active {
    box-shadow: 2px 2px 5px #3b6587;
}

.theme-toggle__button {
    padding: 5px 10px;
    background-color: #808080;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

/* intro */

.intro {
    width: 100%;
    height: 200px;
    padding: 70px 130px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.intro__text {
    color: #fff;
    font-size: 30px;
    font-weight: 600;

}

.intro__img {
    position: relative;
    bottom: 12.5px;
    margin-right: 23px;
}

/* category__list of iphone */

.category {
    margin-top: 44px;
}

.category__title {
    margin-bottom: 15px;
}

.card__title {
    margin-bottom: 5px;
}

.category__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 35px;
}

.card {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__image {
    width: 130px;
    height: 115px;
    display: block;
    margin: 0 auto;
}

.card__data {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.card__title {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.product-card__buy-button {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px 35px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 0;
    border-radius: 11px;
    cursor: pointer;
}

.product-card__buy-button:active {
    background-color: #808080;
    color: #fff;
}

/* category__list of headphones & laptop */

.headphones {
    margin-top: 20px;
}

.laptop {
    margin-top: 20px;
}

/* form */

.purchase-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101010;
    font-weight: 500;
}

.purchase-form__form {
    width: 35%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
}

.purchase-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.purchase-form__label {
    font-weight: 700;
    font-size: 1.3em;
}

.change__value-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-form__input {
    padding: 10px;
    outline: none;
    border: 0;
    background-color: #101010;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.quantity-button {
    width: 35px;
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    border: 0;
}

.quantity-increase {
    margin-right: 10px;
}

.quantity-decrease {
    margin-left: 10px;
}

.purchase-form__color-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.purchase-form__radio-list {
    display: flex;
    justify-content: space-between;
    gap: 5px 70px;
}

.purchase-form__comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.purchase-form__textarea {
    width: 100%;
    height: 22vh;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.5em;
}

.purchase-form__textarea::placeholder {
    font-size: 15px;
    font-style: italic;
}

.purchase-form__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.purchase-form__btn {
    padding: 7px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #101010;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

/* scroll to top */

.scroll-toTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1000;
    display: none;
    text-decoration: none;
    color: #fff;
    background-color: #101010;
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 30px;
    margin: 15px 25px;
    cursor: pointer;
    transition: all 0.2s;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    margin-top: 35px;
    padding: 25px 50px;
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100%);
    border-radius: 15px 15px 0px 0px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__logo-text {
    color: #fffF;
    margin-bottom: 10px;
}

.footer__info-text {
    font-size: 0.8em;
    color: #808080;
}

.footer__info-text .named {
    font-weight: 700;
    color: #BC8F8F;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    padding-right: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}

.footer__title p {
    margin-bottom: 15px;
}

.footer__icon {
    margin-right: 10px;
}

.footer__icon:last-child {
    margin-right: 0;
}

.footer__icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__element {
    width: 50px;
    height: 50px;
}

.footer__category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer__category-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__category-element {
    margin-bottom: 20px;
}

.footer__link {
    color: #C0C0C0;
    text-decoration: none;
}


/* Theme */

.body__darkTheme {
    background-color: #000;
}

.intro_darkTheme {
    background-color: #333;
}

.intro_lightTheme {
    background-color: #101010;
}

.card__darkTheme {
    background-color: #333;
    color: #fff;
}

.card__lightTheme {
    background-color: #fff;
    color: #101010;
}

.category__title-darkTheme {
    color: #fff;
}

.product-card__buy-button-lightTheme {
    background-color: #101010;
    color: #fff;
}

.product-card__buy-button-darkTheme {
    background-color: coral;
}

/* Scroll */
::-webkit-scrollbar {
    width: 15px;
    /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #dfd8d8;
    /* Цвет фона трека скролла */
}

::-webkit-scrollbar-thumb {
    background: #333;
    /* Цвет ползунка скролла */
}
/* input */
input[type="number"]::-webkit-inner-spin-button,

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
}



@media screen and (max-width: 2000px) {
    .scroll-toTop {
        right: 87px;
        bottom: 17px;
    }

}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: 1000px;
    }

    .purchase-form__radio-list {
        align-items: center;
        gap: 5px 40px;
    }

    .purchase-form__radio-element {
        font-size: 14px;
    }

    .scroll-toTop {
        right: 15px;
        bottom: 17px;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 800px;
    }

    .intro {
        padding: 30px 40px;
    }

    .card {
        width: 30%;
    }

    .purchase-form__form {
        width: 50%;
    }

    .purchase-form__input {
        width: 30%;
        text-align: center;
    }

    .quantity-button {
        width: 25px;
        padding: 2px 5px;
    }

    .quantity-increase {
        margin-right: 2px;
    }

    .quantity-decrease {
        margin-left: 2px;
    }

    .purchase-form__color-options {
        width: 100%;
    }

    .purchase-form__radio-list {
        align-items: center;
        gap: 5px 30px;
    }

    .purchase-form__radio-element {
        font-size: 14px;
    }

    .scroll-toTop {
        right: 5px;
        bottom: 5px;
        font-size: 14px;
        margin: 15px 3px;
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        width: 550px;
    }

    .logo__text {
        font-size: 20px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

    .menu__item {
        margin-right: 8px;
    }

    .menu__link {
        font-size: 12px;
    }

    .theme-toggle__button {
        padding: 5px 5px;
        border: 0;
        font-size: 11px;
    }

    .intro {
        height: 140px;
        padding: 20px 30px;
    }

    .intro__text {
        font-size: 20px;
    }

    .intro__img img {
        width: 240px;
    }

    .category__title {
        font-size: 20px;
    }

    .card {
        width: 45%;
    }

    .card__data {
        font-size: 10px;
    }

    .purchase-form__radio-list {
        gap: 6px 10px;
    }

    .purchase-form__color-options {
        flex-wrap: wrap;
    }

    .purchase-form__radio-element {
        margin-top: 10px;
    }

    .purchase-form__radio-list {
        width: 100%;
    }

    .purchase-form__radio {
        margin-right: 5px;
    }

    .scroll-toTop {
        padding: 0.3em 0.7em;
        font-size: 13px;
        right: 10px;
    }

    @media screen and (max-width: 450px) {
        .wrapper {
            width: 100%;
        }

        .wrapper__min {
            width: 100%;
        }

        .header {
            width: 100%;
        }

        .logo__text {
            font-size: 14px;
        }

        .menu__item {
            margin-right: 4px;
        }

        .menu__link {
            font-size: 8px;
        }

        .theme-toggle__button {
            padding: 3px;
            font-size: 8px;
        }

        .card {
            width: 44%;
        }

        .intro__img {
            bottom: 3.5px;
        }

        .intro__img img {
            width: 200px;
        }

        .purchase-form__form {
            width: 80%;
        }

        .purchase-form__color-options {
            flex-wrap: wrap;
        }

        .purchase-form__radio-element {
            margin-top: 15px;
            font-size: 11px;
        }

        .purchase-form__radio-list {
            width: 100%;
        }

        .purchase-form__radio {
            margin-right: 5px;
        }

        .footer__link {
            font-size: 13px;
        }
    }

}